

<form>
<input type='hidden' name='id' id='id'>
	<p>
		<lable class='w3-text-blue'>
		<b>학번</b></lable>
		<input class='w3-input w3-border w3-hover-light-green' type='text' name='strNum'
			id='strNum'>
	<p>
		<lable class='w3-text-blue'>
		<b>이름</b></lable>
		<input class='w3-input w3-border w3-hover-light-green' type='text' name='strName'
			id='strName'>
	<p>
		<lable class='w3-text-blue'>
		<b>학년</b></lable>
		<input class='w3-input w3-border w3-hover-light-green' type='number' name='intGrade'
			id='intGrade'>
	<p>
		<lable class='w3-text-blue'>
		<b>전화번호</b></lable>
		<input class='w3-input w3-border w3-hover-light-green' type='text' name='strTel'
			id='strTel'>
	<p class='w3-right'>
		
		<button type='button' id='listBtn' class='w3-button w3-green'>리스트</button>
		<button type='button' id='newBtn' class='w3-button w3-yellow'>새로작성</button>
		<button type='button' id='deleteBtn' class='w3-button w3-red'>삭제</button>
		<button type='button' id='saveBtn' class='w3-button w3-blue'>저장</button>
		
		
</form>